{% extends 'main_page/base.html' %}
{% load static %}

 {% block content %}


<style>
body {
  text-align: center;
  padding: 30px;
  background: #D7DEED;
  font-family: Arial;
}

.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}


</style>

<h1 align="center">المواد المتاحه </h1>
    <br>
    <br>

<div class="a-box">

      {% for  subject in subjects %}


  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <img src="{% static 'images/logo student hub.png' %}" width="335">
      </div>
    </div>
  </div>
  <div class="text-container">
<h1>{{subject.name}}</h1>
      <div>
      <hr>
              <a href="{% url 'contents' %}" class="btn btn-primary">دخول</a>



<!--      This a demo experiment to skew image container. It looks good.-->
  </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 {% endfor %}


  <p> No subject</p>


   {% endblock %}









<!--<style>-->
<!--body {-->
<!--background: #D7DEED;-->
<!--}-->
<!--</style>-->


<!--<div class="row" >-->
<!--  <div class="col-sm-6" >-->

<!--        {% if subjects %}-->
<!--      {% for  subject in subjects %}-->

<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">{{subject.name}}</h5>-->
<!--&lt;!&ndash;        <p class="card-text">لوحه التحكم تساعدك علي التحكم بالمنصه ك معلم و صلاحيات المعلم كلها متاحه</p>&ndash;&gt;-->
<!--        <a href="{% url 'admin:index' %}" class="btn btn-primary">دخول</a>-->
<!--&lt;!&ndash;        <a href="{% url 'admin:index' %}" class="btn btn-primary">Admin</a>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->


<!-- {% endfor %}-->

<!--  {% else %}-->

<!--  <p> No Video</p>-->
<!--  {% endif %}-->

<!--  </div>-->
<!--  </div>-->


